div{
    outline: 1px solid #000;
}
.bgGreen{
    height: 640px;
}
.divHight div{
   padding: 60px 0px
}
/* temp css in top */



body{padding: 0px; margin: 0px;}
.noPadding{padding-left: 0px !important; padding-right: 0px !important;}
.noMargin{margin-left: 0px !important; margin-right: 0px !important;}
.centermargin{margin: 0 auto;}
.noBorder{border: 0px;}

.fLeft{float: left;}
.fRight{float: right;}

.textCenter{text-align: center;}
.textRight{text-align: right;}

/* padding class */
.xsPaddingLeft{padding-left: 5px;}
.smPaddingLeft{padding-left: 15px;}
.mdPaddingLeft{padding-left: 30px;}
.lgPaddingLeft{padding-left: 50px;}

.xsPaddingRight{padding-right: 5px;}
.smPaddingRight{padding-right: 15px;}
.mdPaddingRight{padding-right: 50px;}
.lgPaddingRight{padding-right: 100px;}

.xsPaddingTop{padding-top: 5px;}
.smPaddingTop{padding-top: 15px;}
.mdPaddingTop{padding-top: 50px;}
.lgPaddingTop{padding-top: 100px;}

/* margin class */
.xsMarginLeft{margin-left: 5px;}
.smMarginLeft{margin-left: 15px;}
.mdMarginLeft{margin-left: 50px;}
.lgMarginLeft{margin-left: 100px;}

.xsMarginRight{margin-right: 5px;}
.smMarginRight{margin-right: 15px;}
.mdMarginRight{margin-right: 50px;}
.lgMarginRight{margin-right: 100px;}

.xsMarginTop{margin-top: 5px;}
.smMarginTop{margin-top: 15px;}
.mdMarginTop{margin-top: 50px;}
.lgMarginTop{margin-Top: 100px;}


/* header starts here */
.header{
    width: 100%;
    height: 80px;
    background: blueviolet;
}

/* main container starts here */


.searchPanel{
     height: 40px;
}
.folderList{
    padding: 10px 0px
}

/* footer starts here*/

.slideTray{
    position: fixed;
    width: 100%;
    height: 200px;
    background: rgb(252, 0, 210);
    bottom: 0px;
    color: #FFF;
    font-size: 2m;
}

/* left menu starts here*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* left menu starts here*/


/* @media starts here */

@media (min-width: 768px) {

}

@media (max-width: 767px) {

    .slideTray{
        height: 100px;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    
}
