/*  div{
    outline: 1px solid #000;
} */

.divHight div{
   padding: 60px 0px
}
/* temp css in top */



body{padding: 0px; margin: 0px;  font-family: Verdana; background: #f9f9f9 !important;}
.noPadding{padding-left: 0px !important; padding-right: 0px !important;}
.noMargin{margin-left: 0px !important; margin-right: 0px !important;}
.centermargin{margin: 0 auto;}
.noBorder{border: 0px;}

.bgP{
    background: #522E90;
}
.fLeft{float: left;}
.fRight{float: right;}

.textCenter{text-align: center;}
.textRight{text-align: right;}

/* padding class */
.nopaddingLeft{padding-left: 0px !important;}
.noPaddingRight{padding-right: 0px !important;}
.smPaddingAll{  padding: 0px 10px !important; }
.mdPadddingAll{ padding: 15px 15px;}
.xsPaddingLeft{padding-left: 5px;}
.smPaddingLeft{padding-left: 15px;}
.mdPaddingLeft{padding-left: 30px;}
.lgPaddingLeft{padding-left: 50px;}

.xsPaddingRight{padding-right: 5px;}
.smPaddingRight{padding-right: 15px;}
.mdPaddingRight{padding-right: 40px;}
.lgPaddingRight{padding-right: 100px;}

.xsPaddingTop{padding-top: 5px;}
.smPaddingTop{padding-top: 15px;}
.mdPaddingTop{padding-top: 50px;}
.lgPaddingTop{padding-top: 100px;}

/* margin class */
.xsMarginLeft{margin-left: 5px;}
.smMarginLeft{margin-left: 15px;}
.mdMarginLeft{margin-left: 50px;}
.lgMarginLeft{margin-left: 100px;}

.xsMarginRight{margin-right: 5px;}
.smMarginRight{margin-right: 15px;}
.mdMarginRight{margin-right: 50px;}
.lgMarginRight{margin-right: 100px;}

.xsMarginTop{margin-top: 5px;}
.smMarginTop{margin-top: 15px;}
.mdMarginTop{margin-top: 50px;}
.lgMarginTop{margin-Top: 100px;}

.borderBottom{
    border-bottom: 1px solid #a2a2a2;
    padding: 10px 0px; 
}

/* header starts here */

.logo .img-responsive{
    padding: 23px 0px; 
}
.logoRest{
    background: #522E90;
    height: 75px;
    border-radius: 0px 0px 0px 60px;
    width: 74.29% !important;
}
.user{
    color: #fff;
    padding: 23px 0px;
}
.user .fa-user{
    border: 1px solid #fff;
    padding: 5px 6px;
    border-radius: 12px;
    font-size: 10px;
}

.user .fa-bell{
    border: 1px solid #fff;
    padding: 5px 5px;
    border-radius: 12px;
    font-size: 10px;
}

/* main container starts here */

#searchPanel{
    background: #FFF;
     height: 50px;
     -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.45);
     -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.45);
     box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.45);
    
}
#searchPanel .active a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #EE3D96;
    
}
#searchPanel a {
    float: left;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #777;
    padding: 15px 0px;
    height: 50px;
}
#searchPanel  a:hover{
    text-decoration: none !important;
    color: #EE3D96 !important;
    border-bottom: 3px solid #EE3D96;
    width: 100%;

}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
#custom-search-input .form-control{
    background-color: #F2F3F5;
    height: 32px;
}
#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
 

    margin-bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#522E91;
}

.search-query:focus + button {
    z-index: 3;   
}

.folderList{
    padding: 10px 0px
}

.panel.with-nav-tabs{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.panel.with-nav-tabs .panel-heading{
    padding: 0px;
}

.panel-default>.panel-heading {
    background-color: #fff !important;
    border: none;
}

.panel.with-nav-tabs .panel-body{
    height: 240px;
    overflow: auto;
}

.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

.nav>li>a {
    padding: 10px 0px !important;
    font-weight: bold;
}

/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #999;
    border: none;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #999;
	background-color: #FFF;
    border-bottom: 3px solid #EE3D96 !important;
    border: none;
    width: 100%;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #EE3D96;
	background-color: #fff;
    border-bottom: 3px solid #EE3D96 !important;
    border: none;
    width: 100%;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #EE3D96;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #EE3D96;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
	background-color: #d6e9c6;
	border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3c763d;
	background-color: #fff;
	border-color: #d6e9c6;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
	background-color: #bce8f1;
	border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708f;
	background-color: #fff;
	border-color: #bce8f1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
	background-color: #faebcc;
	border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
	color: #8a6d3b;
	background-color: #fff;
	border-color: #faebcc;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
	background-color: #ebccd1;
	border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
	color: #a94442;
	background-color: #fff;
	border-color: #ebccd1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}
.editIcon{
    font-size: 20px;
    color: #a997c8;
}
.deleteIcon{
    font-size: 20px;
    color: #f79ecb;
}

/* tab sections css ends */
/* footer starts here*/
.slideHeader{
    height: 1px; margin-top: 20px; 
}
.g1{
   
   
    background: -moz-linear-gradient(left, rgba(82,46,145,0) 0%, rgba(82,46,145,1) 40%, rgba(82,46,145,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(82,46,145,0) 0%,rgba(82,46,145,1) 40%,rgba(82,46,145,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(82,46,145,0) 0%,rgba(82,46,145,1) 40%,rgba(82,46,145,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00522e91', endColorstr='#522e91',GradientType=1 ); /* IE6-9 */
}
.g2 {
background: -moz-linear-gradient(left, rgba(82,46,145,1) 0%, rgba(82,46,145,1) 60%, rgba(82,46,145,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(82,46,145,1) 0%,rgba(82,46,145,1) 60%,rgba(82,46,145,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(82,46,145,1) 0%,rgba(82,46,145,1) 60%,rgba(82,46,145,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#522e91', endColorstr='#00522e91',GradientType=1 ); /* IE6-9 */
}
.slideHeader .circle{
    position: relative;
    top:-9px;
    width: 20px;
    height: 20px;
    border: double 2px transparent;
    border-radius: 10px;
    background-image: linear-gradient(#f9f9f9, #f9f9f9), radial-gradient(circle at top left, #522e91,#eb3c96);
    background-origin: border-box;
    background-clip: content-box, border-box;
    
}
.slides{
    width: 265px;
    float: left;
    background: #FFF;
    border: 1px solid #D3D3D3;
    margin: 0px 15px 15px 0px;
}
.thumbs{
    margin: 0px 0px 15px 0px;
    background: #FFF;
    border: 1px solid #D3D3D3;
    height: 250px;
}
.thumbs img{
    border-bottom: 1px solid #D3D3D3;
}    
.scroll{
    overflow-x: auto;
}

.scroll ul{
    list-style: none;
    display:  inline-flex;
    padding: 0px;
}

.catagory{
    color: #79797a;
    font-size: 12px;
    padding: 5px 0px;
}
.pName{
    color: #522E91;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px 5px ;
}
.rArrow{
    float: right;
    position: relative;
    width: 30px;
    height: 30px;
    background: #f2f3f5;
    padding: 6px 8px;
    border-radius: 15px;
    z-index: 9999;
    top: 130px;
    color: #000;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.slideFooter{
    color: #79797A;
    border-top: 1px solid #D3D3D3;
    padding: 5px 0px;
}
.slideFooter span{
   font-size: 10px;
}

.catagoryName{
    background: #DDD; padding: 15px 0px;
}
.footer{
    background: #fff;
    padding: 15px 0px;
}
.footer ul{
    padding: 0px;
}
.footer ul li{
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
    display: inline-block;
    border-right: 1px solid #000;
}
.footer ul li:last-child{
    border: none !important;
}
.footer ul li:first-child{
    padding-left: 0px !important;
}
/* .popup{
    position: fixed;
    background: red;
    width: 900px;
    height: 500px;
    z-index: 999999;
} */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* dashboard page starts here */
.stripBorder{
    border: 1px dashed #999;
    height: 200px;
}
.uploadHead{
    color: #EE3D96;
    border-bottom: 3px solid #EE3D96 !important;
    border: none;
    width: 100%;
    margin-bottom: 15px;
}

progress {
	width: 100%;
	height: 30px;
	margin: 10px auto;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: #fff;
    border-radius: 50px;
    border: 1px solid #ddd;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background: repeating-linear-gradient(-55deg, rgb(89, 175, 209), rgb(89, 175, 209) 10px,#ddd 10px,#ddd 20px);
        
	
	/* Looks great, now animating it */
	background-size: 25px 30px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}

#uploadForm  input{
    width: 100%;
    border-radius: 5px;
    padding: 5px 5px;
    border: 1px solid #ddd;
    margin: 0px 0px 10px 0px;
}
#uploadForm .btn{
    font-size: 20px;
    padding: 6px 25px;
    margin-top: 80px;
}
/* dashboard page ends here */



/* @media starts here */

@media (min-width: 768px) {

    
}

@media (min-width: 768px) and (max-width: 770px)  {

    .logo .img-responsive {
        padding: 25px 0px 0px 8px;
    }
    .nopaddingLeft{
        padding-left: 15px !important ;
    }
    .noPaddingRight{
        padding-right: 15px !important;
    }
}

@media (max-width: 767px) {

    .slideTray{
        height: 100px;
    }

    .logo .img-responsive {
        padding: 13px 0px 0px 15px;
    }

    .nopaddingLeft{
        padding-left: 15px !important ;
    }
    .noPaddingRight{
        padding-right: 15px !important;
    }
    .noPaddingM{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .smPaddingAllM{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .textCenterM{text-align: center;}
    .catagoryName .btn{
        padding: 6px 24px;
        margin-bottom: 15px;
    }
   
}

@media (max-width: 420px) {
    
    .logo .img-responsive {
        padding: 13px 0px 0px 15px;
    }
    .searchPanel {
        background: #FFF;
        height: 50px;
        margin-bottom: 20px;
    }
    #custom-search-input {
        margin: 60px -10px 0px 14px;
        padding: 0;
    }
    .dropdown .caret {
        float: right;
    }
    .nav-tabs .dropdown-menu {
        margin-top: 0px !important;
    }
    .nav-tabs>li>a {
       margin-right: 0px !important;
        
    }
    .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
        background-color: #ffffff;
        border-color: #ed3d95;
        text-align: center;
        margin-left: 15px;
        width: 90%;
    }
    /* nav bar css starts*/
.navbar-default{
    background-color: #522e91 !important;
    border-color: #522e91 !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ffffff !important;
}
.navbar-nav{
    text-align: center;
    margin: 0px -15px !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #eb3c96 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #522e91 !important;
}
.navbar-default .navbar-toggle {
    border:none;
}
/* nav bar css ends*/ 

}

@media (min-width: 768px) and (max-width: 1024px) {
    
}
