<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="AppDB" value="Data Source=localhost;Initial Catalog=merckslide;UID=sa;PWD=server123;"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5">
     
    </compilation>
    <httpRuntime maxRequestLength="15360" targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="Uploads"/>
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="10000000"/>
        <!--10MB-->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>